<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="dicom" type="Dicom2Volume.DicomConfigSection,dcm2vol,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>

  <!--
  public enum KeepFilesFlags
  {
    None = 0,
    XmlImages = 1,
    XmlImagesSorted = 2,
    XmlVolume = 4,
    RawVolume = 8,
    DdsVolume = 16,
    TarRawVolume = 32,
    TgzRawVolume = 64,
    TarDdsVolume = 128,
    TgzDdsVolume = 256,
    OutputPath = 512,
  }
  -->

  <appSettings>
    <add key="RelativeOutputPath" value="dcm2vol"/>
    <add key="SkipEveryNSlices" value="1"/>
    <add key="OpenExplorerOnCompletion" value="true"/>
    <add key="KeepFilesFlag" value="DdsVolume"/>
    <add key="LogLevel" value="Info"/> <!--Debug, Info, Warn, Error-->
    <add key="WaitForEnterToExit" value="false"/>
  </appSettings>
  
  <dicom>
    <tags>
      <add groupId="7fe0" elementId="0010" type="Bytes" name="PixelData" />
      <add groupId="0002" elementId="0010" type="String" name="TransferSyntaxUID" />
      <add groupId="0028" elementId="0004" type="String" name="PhotometricInterpretation" />
      <add groupId="0028" elementId="0011" type="UShort" name="Columns" />
      <add groupId="0028" elementId="0010" type="UShort" name="Rows" />
      <add groupId="0028" elementId="0120" type="UShort" name="PixelPaddingValue" />
      <add groupId="0028" elementId="0103" type="UShort" name="PixelRepresentation" />
      <add groupId="0020" elementId="1041" type="DoubleString" name="SliceLocation" />
      <add groupId="0020" elementId="0037" type="DoubleString" name="ImageOrientationPatient" />
      <add groupId="0020" elementId="0032" type="DoubleString" name="ImagePositionPatient" />
      <add groupId="0028" elementId="1052" type="DoubleString" name="RescaleIntercept" />
      <add groupId="0028" elementId="1053" type="DoubleString" name="RescaleSlope" />
      <add groupId="0028" elementId="1050" type="DoubleString" name="WindowCenter" />
      <add groupId="0028" elementId="1051" type="DoubleString" name="WindowWidth" />
      <add groupId="0028" elementId="0030" type="DoubleString" name="PixelSpacing" />
      <add groupId="fffe" elementId="e00d" type="Separator" name="ItemDelimitationItem" />
      <add groupId="fffe" elementId="e0dd" type="Separator" name="SequenceDelimitationItem" />
      <add groupId="fffe" elementId="e000" type="Item" name="Item" />
    </tags>
  </dicom>
  
</configuration>
